@model WiseSwitch.ViewModels.Entities.SwitchModel.DisplaySwitchModelViewModel

@{
    ViewData["Title"] = "Delete switch model";
}

<h2><partial name="_GoBackFaIcon" /> Delete Switch Model</h2>

<div>

    @* ModelState Errors - in case delete fails. *@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSeries)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultFirmwareVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DefaultFirmwareVersion)
        </dd>
    </dl>
    
    <hr />

    <p>Are you sure you want to delete this Switch Model?</p>

    <form asp-action="Delete">
        <button type="submit" value="@Model.Id" class="btn btn-danger">Delete</button>
    </form>

</div>
