@model WiseSwitch.ViewModels.Entities.Manufacturer.DisplayManufacturerViewModel

@{
    ViewData["Title"] = $"Manufacturer - {Model.Name}";
}

<h2><partial name="_GoBackFAIcon" /> @Model.Name</h2>
<hr />

<div>
    <!-- List of Brands -->
    <h4>Brands</h4>
    @if (!Model.BrandsNames.Any())
    {
        <p>This Manufacturer has no Brands registered in the database.</p>
    }
    else
    {
        <ul>
            @foreach (var item in Model.BrandsNames)
            {
                <li>@item</li>
            }
        </ul>
    }
</div>

<div>
    <hr />
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger @* @(Model.IsDeletable ? "" : " disabled") *@"><i class="fa fa-xmark"></i> Delete</a>
    </div>
</div>
