@model IEnumerable<WiseSwitch.Data.Entities.FirmwareVersion>

@{
    ViewData["Title"] = "Firmware Versions";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Firmware Versions</h1>
                <p>
                    <a asp-action="Create" class="btn btn-success"><i class="fa fa-square-plus"></i> New Firmware Version</a>
                </p>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="MyTable">
                    <thead>
                        <tr>
                            @* <th><!-- # --></th> *@
                            <th>
                                @Html.DisplayNameFor(model => model.Version)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LaunchDate)
                            </th>
                            <th><!-- actions --></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @* <td>#</td> *@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Version)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LaunchDate)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("Scripts/_DataTablesScriptsPartial");
    }
}