@model WiseSwitch.ViewModels.Entities.ProductSeries.DisplayProductSeriesViewModel

@{
    ViewData["Title"] = $"Product Series - {Model.Name}";
}

<h2><partial name="_GoBackFAIcon" /> @Model.ProductLineName @Model.Name</h2>
<hr />

<div>
    <h4>Brand</h4>
    <p>@Model.BrandName</p>

    <!-- List of Switch Models -->
    <h4>SwitchModels</h4>
    @if (!Model.SwitchModelsNames.Any())
    {
        <p>This Product Series has no Switch Models registered in the database.</p>
    }
    else
    {
        <ul>
            @foreach (var item in Model.SwitchModelsNames)
            {
                <li>@item</li>
            }
        </ul>
    }
</div>

<div>
    <hr />
    <div class="form-group">
        <a asp-controller="SwitchModels" asp-action="Create" asp-route-productSeriesId="@Model.Id" class="btn btn-success"><i class="fa fa-square-plus"></i> New Switch Model</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="fa fa-xmark"></i> Delete</a>
    </div>
</div>
