@model WiseSwitch.ViewModels.Entities.Brand.DisplayBrandViewModel

@{
    ViewData["Title"] = $"Brand - {Model.Name}";
}

<h2><partial name="_GoBackFAIcon" /> @Model.Name</h2>
<hr />

<div>
    <h4>Manufacturer</h4>
    <p>@Model.ManufacturerName</p>

    <!-- List of Product Lines -->
    <h4>ProductLines</h4>
    @if (!Model.ProductLinesNames.Any())
    {
        <p>This Brand has no Product Lines registered in the database.</p>
    }
    else
    {
        <ul>
            @foreach (var item in Model.ProductLinesNames)
            {
                <li>@item</li>
            }
        </ul>
    }
</div>

<div>
    <hr />
    <div class="form-group">
        <a asp-controller="ProductLines" asp-action="Create" asp-route-brandId="@Model.Id" class="btn btn-success"><i class="fa fa-square-plus"></i> New Product Line</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="fa fa-xmark"></i> Delete</a>
    </div>
</div>
