@model IEnumerable<WiseSwitch.ViewModels.Entities.User.UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-user-plus"></i> Add User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th><!-- icon --></th>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
            <th><!-- actions --></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td><i class="fa fa-user"></i></td>
                <td id="username-@item.Id">@Html.DisplayFor(modelItem => item.UserName)</td>
                <td id="role-@item.Id">@Html.DisplayFor(modelItem => item.Role)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-user-pen"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-user-minus"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>